

.favorites-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.favorites-list h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
margin-bottom: 60px;
margin-top: 60px;
}

.favorites-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  max-width: 1200px;
}

.favorite-card {
  background-color: lightgray;
  border-radius: 8px;
  border: solid 2px black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  margin-bottom: 60px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.favorite-card:hover {
  transform: translateY(-5px);
}

.favorite-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.favorite-card .character-name {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}
